<mat-card class="card">
  <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
    <div fxFlex fxLayout fxLayoutAlign="center">
      <mat-list fxLayout="row" fxLayoutAlign="space-around" class="navigation-items">
        <mat-list-item *ngFor="let item of items" [style.backgroundColor]="item.bgColor" fxLayout="row"
                       fxLayoutAlign="center">
                       <span>
          {{ item.title.toUpperCase() }}<br/>
          {{ item.percent }}
          </span>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="center">
      <div class="big_round">
        <div class="estrellas inverso">
            <span>t</span>
            <span>c</span>
            <span>a</span>
            <span>r</span>
            <span>t</span>
            <span>n</span>
            <span>o</span>
            <span>c</span>

            <span>o</span>
            <span>t</span>

            <span>e</span>
            <span>c</span>
            <span>r</span>
            <span>u</span>
            <span>o</span>
            <span>s</span>

            <span>y</span>
            <span>a</span>
            <span>p</span>

            <span>o</span>
            <span>t</span>

            <span>e</span>
            <span>s</span>
            <span>a</span>
            <span>h</span>
            <span>c</span>
            <span>r</span>
            <span>u</span>
            <span>p</span>
        </div>

        <span class="nav-item-1">Invoice</span>
        <span class="nav-item-2">Spend</span>
        <span class="nav-item-3">Buy</span>
        <span class="nav-item-4">Source</span>
        <span class="nav-item-5">Sup - 
          <mat-icon class="icon">add</mat-icon></span>
        <span class="nav-item-6">Contract</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!--source to contract-->
